p {
    font-size: x-large;

}

h3 {
    font-size: large;
}

html {
    height: 100%;
    background-image: url(./images/white-clouds-blue-background.jpg);
    background-size: cover;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 40px;
}

#mainView {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    flex-grow: 1; 
}

#locationAndFormSection {
    text-align: left;
}

#weatherSection {
    text-align: right;
}

* {
    color: white;
}

label, input, button {
    font-size: large;
}

button {
    border: 1px black solid;
    background-color: white;
}

input, button {
    color: black;
}

#poweredBy p, a {
    text-align: center;
    font-size: small;
    color: black;
}

#poweredBy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#gitHub {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
}

#gitHubIcon img {
    width: 40px;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
}

.heading, #citySearch {
    height: fit-content;
}