p {
    font-size: x-large;
}

h3 {
    font-size: large;
}

html {
    height: 100%;
    background-image: url(./images/pexels-pixabay-53594.jpg);
    /* background-color: #448EE4; */
}

body {
    height: 100%;
    display: grid;
    grid-template-rows: 10% 5% 80% 5%;
}

h1 {
    text-align: center;
}

#mainView {
    display: grid;
    grid-template-columns: 1fr 1fr;    
}

#locationAndFormSection {
    text-align: left;
}

#weatherSection {
    text-align: right;
}

* {
    color: black;    
}


#poweredBy{
    text-align: center;
}
